
<!DOCTYPE html>
<html lang="en">

<body class="bg-light">

    <wbr>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!--Эта колонка для смещения, надписи: Панель администратора-->
            </div>
            <div class="col-md-7">
                <span class="badge bg-secondary text-white"><h2>Панель администратора</h2></span>
            </div>
        </div>

        <wbr>
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Aдмин панель</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Вкладка: Динозавры</li>
                </ol>
            </nav>
        </div>
        <wbr>
        <div class="row">
            <div class="col-md-1">
                <!--Эта колонка для смещения двух карт в строке, по центру:-->
            </div>
            <div class="col-md-5">
                <div class="card text-center bg-light border-dark">
                    <div class="card-header bg-danger text-white border-dark">
                        Редактировать: Динозавры
                    </div>
                    <div class="card-body bg-body">
                        <h5 class="card-title">Хищные динозавры</h5>
                        <p class="card-text">Редактируем вкладку "Динозавры: Хищники"</p>
                        <a asp-area="Admin" asp-controller="EditDinosaurs" asp-action="Predators_Admin" class="btn btn-outline-warning">Редактировать</a>
                    </div>
                    <div class="card-footer text-danger border-dark">
                        2021
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card text-center bg-light border-dark">
                    <div class="card-header bg-danger text-white border-dark">
                        Редактировать: Динозавры
                    </div>
                    <div class="card-body bg-body">
                        <h5 class="card-title">Травоядные динозавры</h5>
                        <p class="card-text">Редактируем вкладку "Динозавры: Травоядные"</p>
                        <a asp-area="Admin" asp-controller="EditDinosaurs" asp-action="Herbivores_Admin" class="btn btn-outline-warning">Редактировать</a>
                    </div>
                    <div class="card-footer text-danger border-dark">
                        2021
                    </div>
                </div>
            </div>
        </div>
    </div>
    <wbr>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <!--Эта колонка для смещения двух карт в строке, по центру:-->
            </div>
            <div class="col-md-5">
                <div class="card text-center bg-light border-dark">
                    <div class="card-header bg-danger text-white border-dark">
                        Редактировать: Динозавры
                    </div>
                    <div class="card-body bg-body">
                        <h5 class="card-title">Летающие динозавры</h5>
                        <p class="card-text">Редактируем вкладку "Динозавры: Летающие"</p>
                        <a asp-area="Admin" asp-controller="EditDinosaurs" asp-action="FlyingDinosaurs_Admin" class="btn btn-outline-warning">Редактировать</a>
                    </div>
                    <div class="card-footer text-danger border-dark">
                        2021
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="card text-center bg-light border-dark">
                    <div class="card-header bg-danger text-white border-dark">
                        Редактировать: Динозавры
                    </div>
                    <div class="card-body bg-body">
                        <h5 class="card-title">Водные динозавры</h5>
                        <p class="card-text">Редактируем вкладку "Динозавры: Водные"</p>
                        <a asp-area="Admin" asp-controller="EditDinosaurs" asp-action="AquaticDinosaurs_Admin" class="btn btn-outline-warning">Редактировать</a>
                    </div>
                    <div class="card-footer text-danger border-dark">
                        2021
                    </div>
                </div>
            </div>
        </div>
    </div>
    <wbr>
</body>
</html>