@model TextField
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container">
        <wbr>
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Палеогеновый период</li>
                </ol>
            </nav>
        </div>
        <wbr>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(Model.Text)
            </div>
        </div>

    </div>
    <wbr>
</body>
</html>