 <!-- Footer -->
<footer class="bg-dark  text-white">
    <!-- Grid container -->
    <div class="container">
        <wbr>
        <!-- Section: Social media -->
        <section class="mb-4 offset-md-10">
            <h5>Социальные сети</h5>
            <!-- Linkedin -->
            <a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/kayrat-tekebayev-5a7a37206/" role="button">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <!-- Github -->
            <a class="btn btn-outline-primary" style="background-color: #333333;" href="https://github.com/Kayrat-85" role="button">
                <i class="fab fa-github"></i>
            </a>
            <!-- Whatsapp -->
            <a class="btn btn-primary" style="background-color: #25d366;" href="https://hh.kz/resume/193e6198ff00cc4efc0039ed1f6f494550396d" role="button">
                <i class="fab fa-bars"></i>
            </a>
        </section>
      
    </div>

    <div class="container">
            <!--Grid row-->
        <div class="row">
            <h5>Интересные сайты</h5>
            <!--Grid column-->
            <div class="col-md-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="http://dinosaurs.afly.ru" class="text-white">dinosaurs.afly.ru</a>
                    </li>
                    <li>
                        <a href="http://dino-all.ru/index.php" class="text-white">Все динозавры.ру</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://www.dinozavro.ru" class="text-white">DinoZavro.ru</a>
                    </li>
                    <li>
                        <a href="https://dino.pet/ru/earth" class="text-white">Dino.pet</a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-2">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="https://faunistics.com" class="text-white">Faunistics.com</a>
                    </li>
                    <li>
                        <a href="https://paleonews.ru" class="text-white">PALEO NEWS</a>
                    </li>

                </ul>
            </div>
            
            <div class="col-md-2 offset-md-1">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="MyWebProject" class="text-white">О проекте</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AboutMe" class="text-white">Контакты</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-3">
                <img src="/Images/logo/logoLW02.png" width="470">
            </div>
        </div>
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Авторские права:
        <a class="text-white" href="https://github.com/Kayrat-85">github.com/Kayrat-85</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->